extends layout

block content
  .App
    .room1
      .App-header EQPLOT
      .room1-2
        .Space1
          .box1 지진 강도
          .box2.size
            span#eqsize N/A
        .Space2
          .box1 판단
          .box2.text
            span#eqtext N/A
    .room2
      .Space3
        canvas#Chart